output/*
__pycache__/
*.py[cod]
/build
hyperd.log
.env
.env.dev
.env.prod
.webassets-cache
*.ppk
*.pem
/conda_env
seed.json
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid
celerybeat-schedule-shm
celerybeat-schedule-shm.db
celerybeat-schedule-shm.pid
celerybeat-schedule-wal
celerybeat-schedule-wal.db
celerybeat-schedule-wal.pid
.claude
.Identifier
.impeccable
CLAUDE.md
*Zone.Identifier
*_seed.json
PRODUCT.md
docs/
