selenium
pandas
alive-progress
sodapy
urllib3
pypdf
flask
Flask-Assets
plotly
gunicorn
Flask-Assets
python-dotenv
jsmin
cssmin
mailersend
bleach
requests
python-calamine
openpyxl
flask-sqlalchemy
flask-migrate
psycopg2-binary
bcrypt
flask-login