.htmx-element:hover{
    cursor: pointer;
}

body{
    height:100%;
}

#page-container{
    height: 100%;
}

html{
    height: 100%;
}

#content-div{
    max-height: 100vh;
    overflow-y: scroll;
}

#buttons{
    max-width: 80%;
}