alembic
bcrypt
bleach
boto3
botocore
blinker
certifi
charset-normalizer
click
cssmin
dnspython
email-validator
Flask
Flask-Assets
Flask-Limiter[redis]
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
jmespath
jsmin
mailersend
Mako
MarkupSafe
psycopg2-binary
PyJWT
python-dotenv
python-http-client
pytz
requests
s3transfer
SQLAlchemy
urllib3
webassets
webencodings
Werkzeug
WTForms
packaging
six
typing_extensions
celery[redis]
pandas
python-calamine