alembic
bcrypt
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
alive-progress
attrs
beautifulsoup4
geojson-rewind
geopandas
grapheme
gunicorn
idna
Jinja2
jsmin
Mako
MarkupSafe
narwhals
numpy
openpyxl
outcome
packaging
pandas
plotly
psycopg2-binary
pyogrio
PyJWT
pyproj
python-calamine
python-dotenv
pytz
requests
selenium
shapely
six
sniffio
sodapy
sortedcontainers
SQLAlchemy
trio
trio-websocket
typing_extensions
urllib3
Werkzeug
websocket-client
wsproto
celery[redis]

Flask-Assets
bleach
boto3
botocore
s3transfer