<div class="container h-100 mobile-height-adjust gy-2 layout-container">
    <div class="row data-row py-1 justify-content-center align-items-center g-2">
        <div class="col-md-9 h-100">
            <div class="card h-100">
                <div class="card-body text-center h-100 d-flex align-items-center justify-content-center" id="viz-card">
                    <div id="toxicity-deaths-vis">
                        <div id="toxicity-deaths-vis" class="spinner-border" role="status"></div>
                        <!-- Toxicity Deaths visual will be rendered in this div using plotly.js-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 h-100 overflowy-scroll">
            <div class="card h-100">
                <div class="card-body h-100">
                    <h4 class="card-title text-center">Chart Options</h4>
                    <hr />
                    <div id="buttons" class="d-flex m-auto justify-content-center flex-wrap">
                        <div class="container">
                            <div class="row">
                                <h5>Chart Type</h5>
                            </div>
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col">
                                    <select id="chart-type-select" class="form-select" onchange="changeChartType(this)">
                                        <option value="1" selected>Stacked Area Chart</option>
                                        <option value="2">Percent of Total</option>
                                        <option value="3">Deaths/100k</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <h5>Provinces</h5>
                            </div>
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="bc-check"
                                            province="British Columbia" status="active" onclick="updateTracesTox(this)"
                                            checked />
                                        <label class="form-check-label" for="bc-check">
                                            B.C.
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="ab-check" province="Alberta"
                                            status="active" onclick="updateTracesTox(this)" checked />
                                        <label class="form-check-label" for="ab-check">
                                            Alberta
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="sk-check"
                                            province="Saskatchewan" status="active" onclick="updateTracesTox(this)"
                                            checked />
                                        <label class="form-check-label" for="sk-check">
                                            Saskatchewan
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="mb-check"
                                            province="Manitoba" status="active" onclick="updateTracesTox(this)"
                                            checked />
                                        <label class="form-check-label" for="mb-check">
                                            Manitoba
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="on-check" province="Ontario"
                                            status="active" onclick="updateTracesTox(this)" checked />
                                        <label class="form-check-label" for="on-check">
                                            Ontario
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="qc-check" province="Quebec"
                                            status="active" onclick="updateTracesTox(this)" checked />
                                        <label class="form-check-label" for="qc-check">
                                            Quebec
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="NL-check"
                                            province="Newfoundland and Labrador" status="active"
                                            onclick="updateTracesTox(this)" checked />
                                        <label class="form-check-label" for="NL-check">
                                            Newfoundland
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="nb-check"
                                            province="New Brunswick" status="active" onclick="updateTracesTox(this)"
                                            checked />
                                        <label class="form-check-label" for="nb-check">
                                            New Brunswick
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="ns-check"
                                            province="Nova Scotia" status="active" onclick="updateTracesTox(this)"
                                            checked />
                                        <label class="form-check-label" for="ns-check">
                                            Nova Scotia
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="pei-check"
                                            province="Prince Edward Island" status="active"
                                            onclick="updateTracesTox(this)" checked />
                                        <label class="form-check-label" for="pei-check">
                                            P.E.I.
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2 justify-content-center align-items-center g-2">
        <div class="col">
            <div class="card">
                <div id="about-these-data" class="card-body">
                    <h4 id="about-these-data-title" class="card-title"></h4>
                    <div id="about-these-data-blurb" class="text-center">
                        <div id="toxicity-deaths-vis" class="spinner-border" role="status"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2 justify-content-center align-items-center g-2">
        <div class="col">
            <div class="card overflow-x-scroll">
                <div class="card-body">
                    <h4 class="card-title">Canadian Drug Toxicity Deaths Each Year by Province</h4>
                    <div id="data-table" class="text-center">
                        <div id="toxicity-deaths-vis" class="spinner-border" role="status"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        try {
            toxSetUp();
        } catch (e) {
            document.addEventListener('DOMContentLoaded', async function () {
                await toxSetUp();
            });
        }
    </script>
</div>

<title hx-oob-swap="true">
    CANASK | National Toxicity Deaths
</title>