<div class="row text-center py-1 justify-content-center align-items-center notice-row">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body bg-warning shadow-sm">
                <p class="text-center py-1 px-2 m-0">
                    Data is unavailable for disabled options. If you are aware of a source that would provide this
                    data for a province that is currently unavailable please reach out to us at email@email.com.
                </p>
            </div>
        </div>
    </div>
</div>