<div class="feedback-form">
    <a class="feedback-toggle">
        Submit Feedback
    </a>
    <div class="feedback-content-container">
        <img class="feedback-close" src="/static/assets/images/chevron-down.svg">
        <h3 class="feedback-title" hx-get="/introduction/htmx" hx-trigger="click" hx-target="#content-div"
            hx-swap="innerHTML swap:1s settle:1s" hx-push-url="/">
            Submit Feedback
        </h3>
        <form id="feedback-form" class="d-flex flex-column justify-content-center">
            <div class="form-group pb-2">
                <label for="feedback-name p">Name</label>
                <input name="name" type="text" class="form-control" id="feedback-name" placeholder="Enter your name">
            </div>
            <div class="form-group pb-2">
                <label for="feedback-email">Email</label>
                <input name="email" type="email" class="form-control" id="feedback-email"
                    placeholder="Enter your email">
            </div>
            <div class="form-group pb-4">
                <label for="feedback-message">Feedback</label>
                <textarea class="form-control" id="feedback-message" rows="3" name="feedback"
                    placeholder="Please provide comments, ideas, or requests for things to be changed here"></textarea>
            </div>
            <button type="submit" data-sitekey="6LckJoIqAAAAAAObcRxSz27BVJDSbg7pPID2V0jJ" data-callback="feedbackSubmit"
                data-action="submit" class="g-recaptcha btn m-auto btn-primary">Submit
                Feedback</button>
        </form>
    </div>
</div>