<div id="page-container" class="w-100 fade-me-out fade-me-in">
    {% include 'menu.jinja' %}
    <div id="content-div" class="flex-column container fade-me-out fade-me-in blue">
        <!-- If we don't have a province var, then we just render the intro template here -->
        <!-- Content within this div will get swapped out with HTMX on click of nav buttons -->
        {% if dash_template %}
        {% include dash_template %}
        {% else %}
        {% include 'introduction.jinja' %}
        {% endif %}
    </div>
    {% include 'feedback.jinja' %}
</div>

<title hx-oob-swap="true">
    {% if province %}
    {{ "CANASK | " + province.replace("-", " ").title() }}
    {% else %}
    CANASK | Home
    {% endif %}
</title>

<div id="template-scripts-signal">
    <!-- This div serves as a signal to run initialization scripts for specific pages from main.js -->
</div>