<div id="introduction-div" class="p-5 w-100 d-flex justify-content-center align-items-center">
    <div class="card introductory-card">
        <div class="card-body text-center">
            <h4 class="introductory-title card-title">Welcome to CANASK (the Canadian Alliance for Substance Knowledge)
            </h4>
            <p class="card-text">The aim of this application is to provide a comprehensive overview of
                up-to-date
                statistics related to the Canadian drug crisis in a single application tailored to the
                unique needs of
                the different stakeholders who require it. In doing so, we hope to enable those who use
                drugs,
                physicians, and policymakers to
                make informed decisions using the most current data and meaningful trends regarding the
                opioid overdose
                epidemic within Canada in its current state.</p>
            <br />
            <p class="card-text">Please use the site menu to explore the different sections
                of the tool that may be of interest to you.
            </p>
            <div class="container">
                <div class="row justify-content-center align-items-center g-2">
                    <div class="col-md-4">
                        <img src="/static/assets/images/ccsa_logo.png" class="img-fluid rounded-top logos"
                            alt="Canadian Centre on Substance Use and Addiction" />
                    </div>
                    <div class="col-md-4">
                        <img src="/static/assets/images/CHI.jpeg" class="img-fluid rounded-top logos"
                            alt="University of Calgary Centre for Health Informatics Logo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>